.bg-body-tertiary {
    background-color: #3498db !important; /* Cambia esto al color que desees */
  }

  .navbar-nav .nav-link {
    color: white !important; /* Cambia esto al color que desees */
  }
  
  .navbar-brand {
    color: white !important; /* Cambia esto al color que desees */
  }
  
  .home-container {
    text-align: center;
    margin-top: 200px;
  }
  
  .home-container h1 {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#3498db
   
  }
  
  .home-container h2 {
    font-size: 50px;
    color:dimgray;
    margin-bottom: 20px;
  }
  
  .home-container p {
    font-size: 22px;
    margin-top: 30px;

  }

  .container{
    min-height: 85vh;
   
  }
  
  footer {
    background-color:#3498db;
    color: white;
    text-align: center;
    padding: 1em;
  }
  

  .card {
    height: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;  /* Alinea los botones con un poco de espacio entre ellos */
    margin-top: 50px;
  }
  
  .action-button {
    padding: 10px 20px;  /* Añade un poco de relleno alrededor del texto del botón */
    text-decoration: none;  /* Elimina cualquier subrayado de los enlaces */
    background-color: #3498db;  /* Añade un color de fondo */
    color: white;  /* Añade un color de texto */
    border-radius: 5px;  /* Añade bordes redondeados */
    border: 0;
  }
  
  .action-button:hover {
    background-color: #0056b3;  /* Cambia el color de fondo al pasar el cursor */
  }

  /* styles.css */

.large-textarea {
  width: 400px;
  height: 100px;
}

.label-inline {
  display: inline-block;
  vertical-align: top;
}

.button-style {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px; 
}

.comentariosfield{
  padding-top: 100px;
}

.list-group{
  margin-top: 100px;
}